html {
	font-size: 62.5%; /* 10px browser default */
  background-color: #fafafa;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
