html {
	font-size: 62.5%; /* 10px browser default */
  background-color: #fafafa;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
} */
